*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    overflow-x: hidden;
    font-size: 1vw;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Fira Code', sans-serif;
    font-weight: 300;
    color: whitesmoke;
    background-color: #1f0c26;
}


a, p{
    color: white;
    text-decoration: none;
    font-size: 1.7vw;
    margin-bottom: 1vw;
}

section{
    height: 100vh;
    display: flex;
}

.half{
    width: 50%;
    height: 100%;
    padding: 10%;
    position: relative;
    background: transparent;
}

.half .bg{
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(.2);
}

.half.right{
    background-color: #1f0c26;

}

.links{
    display: flex;
    flex-direction: column;
}

.technologies{
    display: flex;
    flex-wrap: wrap;
}

.technologies svg{
      width: 15%;
      margin: 5%;
}


h1{
    font-size: 4vw;
    margin-bottom: 2vw;
}

@media screen and (max-width: 812px) {
    section{
        flex-direction: column;
        height: unset;
        min-height: 100vh;
    }

    h1{
        font-size: 10vw;
        margin-bottom: 4vw;
    }

    .half{
        width: 100%;
    }

    a, p{
        font-size: 5vw;
        margin-bottom: 2vw;
    }
}